body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
}

.container section {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.container section:nth-child(1) {
  background-color: rgb(25, 25, 25);
  color: burlywood;
}
.container section:nth-child(2) {
  background-color: rgb(35, 35, 35);
  color: yellow;
}
.container section:nth-child(3) {
  background-color: rgb(45, 45, 45);
  color: lightblue;
}

.container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}
